* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --body-bg-color: #22212C;
  --text-color: #837E9F;
  --bg-cards: #302F3D;
  --bg-techs: #CB92B1;
  --font-default: 'Merriweather Sans', sans-serif;;
}

body {
  background-color: var(--body-bg-color);
  font-family: var(--font-default);
  color: var(--text-color);
}

header {
  position: fixed;
  width: 100vw;
  top: 0;
  background-color: #302F3D;
  padding: 1rem 2rem;
  box-shadow: 2px 0 10px rgba(0, 0, 0, 0.5);
}

header .container {
  display: flex;
  justify-content: center;
  align-items: center;
}

header .container .logo {
  font-size: 1.5rem;
  font-weight: 700;
  color: #837E9F;
}

main {
  margin: 40px;
  margin-top: 100px;
  display: flex;
  gap: 60px;
  justify-content: space-between;
}

a {
  text-decoration: none;
  color: var(--text-color);
  transition: .2s;
}

a:hover {
  color: var(--bg-techs);
}

#section-1 {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 30%;
}

.card, .card-2  {
  background-color: var(--bg-cards);
  padding: 32px;
  border-radius: 20px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.user-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 50px;
}

.user-info img {
  width: 128px;
  height: 128px;
  border: 2px solid #00FF00;
  border-radius: 50%;
  margin-bottom: 30px;
}

.user-info .info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.user-info .info span {
  font-weight: 700;
  font-size: 23px;
}

.user-info .info p {
  font-weight: 300;
  font-size: 13px;
}

.social, .social-2 {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 30px 40px;
  overflow: hidden;
}

.social-2 {
  display: none;
}


.social span, .social-2 span {
  font-weight: 400;
  font-size: 13px;
  display: flex;
  align-items: center;
  gap: 20px;
}

.social-2 span {
  font-size: 10px;
}

.social-2 span img {
  width: 15px;
  height: 15px;
}

.tech {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 30px 20px;
}

.tech h2, .exp h2 {
  font-weight: 700;
  font-size: 20px;
}

.skills {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.skills span {
  font-weight: 700;
  font-size: 10px;
  color: #000;
  border-radius: 20px;
  background-color: var(--bg-techs);
  padding: 5px;
  width: 80px;
  text-align: center;
}

.education {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 30px 20px;
}

.education ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 0 40px;
}

.education ul li span {
  font-weight: 400;
  font-size: 12px;
}

.education ul li p {
  font-weight: 300;
  font-size: 12px;
}

#section-2 {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

#secion-2 .card {
  padding: 30px;
}

.full-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.full-card h2 {
  font-weight: 700;
  font-size: 20px;
}

.full-card a {
  font-weight: 400;
  font-size: 14px;
}

.projects {
  display: flex;
  gap: 20px;  
}

.projects .card, .projects .card-2 {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.project-info {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.project-info span {
  display: flex;
  gap: 16px;
  font-weight: 700;
  font-size: 16px;
}

.project-info p {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

.project-stats {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.project-stats .info {
  display: flex;
  gap: 16px;
  align-items: center;
}

.project-stats .info span {
  display: flex;
  gap: 8px;
  align-items: center;
  font-weight: 400;
  font-size: 14px;
}

.project-stats .info span img {
  width: 20px;
  height: 20px;
}

.project-stats .language-css {
  display: flex;
  gap: 8px;
  align-items: center;
}

.language-css .circle-lang {
  height: 15px;
  width: 15px;
  background-color: cornflowerblue;
  border: 2px solid #837E9F;
  border-radius: 50%;
}

.post {
  display: flex;
  gap: 20px;
  padding-bottom: 40px;
}

.post img {
  width: 128px;
  height: 128px;
  border-radius: 50%;
}

.post-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.post-text h2 {
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 10px;
}

.post-text span {
  font-weight: 400;
  font-size: 14px;
}

.post-text p {
  font-weight: 400;
  font-size: 14px;
  margin-bottom: 10px;
}

.post-text .bottom span {
  margin-right: 20px;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  background-color: var(--bg-footer);
}